.header{
  height: 100px;

  @media (min-width: 62em){ /* 62em = 992px */
    height: 130px;
  }

  /* doctor' logo */
  &__logo{
    grid-column: 2/3;
    align-self: center;
    
    @media (min-width: 62em){ /* 992px = 62em */
      grid-column: 2/3;
    }

    & img{
      max-width: 5.625rem; /* 90px = 5.625rem */
    }

  }

  /* the site' main navigation links */
  &__menu-content{
    display: none;

    @media (min-width: 62em){ /* 992px = 62em */
      display: block;
      grid-column: 5/7;
      align-self: center;
      justify-self: center;
    }

  }

  /* content on the right side of the header section */
  &__right-content{
    grid-column: 4/5;
    align-self: center;
    justify-self: end;
    position: relative;

    @media (min-width: 48em){ /* 768px = 48em */
      grid-column: 5/6;
    }

    @media (min-width: 62em){ /* 992px = 62em */
      grid-column: 9/10;
    }

  }

  /* contains the mobile menu icon */
  &__mobile-menu{
    
    @media (min-width: 62em){ /* 62em = 992px */
      display: none;
    }

  }

  /* mobile menu icon */
  &__mobile-menu-icon{
    position: absolute;
    top: -7px;
    right: 0px;
    width: 20px;
    height: 19px;
    z-index: 4;

    &::before{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 33px;
      height: 3px;
      background-color: #000;
      transition: transform .3s ease-out;
    }

    &::after{
      content: "";
      position: absolute;
      bottom: 7px;
      right: 0px;
      width: 33px;
      height: 3px;
      background-color: #000;
      transition: transform .3s ease-out;
    }
    
  }

}