.link{
  display: flex;
  align-items: flex-end;
  gap: 6px;

  
  &__text{
    font-family: 'Gilroy-Medium ☞';
    font-size: responsive(18px, 20px);
    color: #000;
  }


  &__text--medium{
    font-size: responsive(18px, 25px);
  }

  &__small-arrow{
    max-width: 1.25rem; /* 1.25rem = 20px */
    
  }


  &__medium-arrow{
    max-width: 14px; /* 1rem = 16px */
    margin-bottom: 2px;

    @media (min-width: 91.625em){ /* 91.625em = 1466px */
      max-width: 1.125rem; /* 1.125rem = 18px */
    }
  }


  /* header section -- "Let's Talk" */
  &--header{
    display: none;

    @media (min-width: 62em){ /* 62em = 992px */
      display: flex;
      align-items: center;
      gap: 12px;
    }
    
  }

  /* about section -- "Know More" */
  &--about{
    gap: 11px;

    @media (min-width: 62em){ /* 62em = 992px */
      display: flex;
      gap: 17px;
    }

  }


}