.main-nav{

  /* the ul tag which contains each of the site' main navigation links. */
  &__list{
    display: flex;
    align-items: center;
  }


  /* the li tags for each of the site' main navigation links. */
  &__item{

    &:not(:last-child){
      margin-right: 50px;
    }

  }

  /* the anchor tags for each of the site' main navigation links. */
  &__link{
    font-family: 'Gilroy-Regular ☞';
    font-size: 16px;
    text-transform: uppercase;
    color: $color-grey;
    transition: all ease-in-out .3s;

    &.is-current-link {
      color: $color-orange;
    }

    &:hover{
      color: $color-orange;
    }

  }

}