.services{
  position: relative;
  background-color: #101010;
  overflow: hidden;

  /* heading text content -- "Service" */
  & .heading--grey{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;
    
    transform: translateY(-94%) translateX(-1%);
    font-size: 38vw;
    opacity: 0.1;
    z-index: 1;

    @media (min-width:32.25em){ /* 32.25em = 516px */
      transform: translateY(-105%) translateX(-1%);
    }

    @media (min-width: 48em){ /* 48em = 768px */
      transform: translateY(-100%) translateX(-1%);
    }

    @media (min-width: 106.25em){ /* 106.25em = 1700px */
      transform: translateY(-102%) translateX(-1%);
    }

  }


  & .container{
    margin: 5rem 0;

    @media (min-width: 48em){ /* 768px = 48em */
      margin: 5rem 0;
    }

    @media (min-width: 62em){ /* 992px = 62em */
      margin: 11rem 0;
    }

    @media (min-width: 84.5em){ /* 1352px = 84.5em */
      margin: 14rem 0;
    }

    @media (min-width: 125em){ /* 2000px = 125em */
      margin: 18rem 0 14rem 0;
    }

  }

  & .heading--small,
  & .heading--medium,
  &__family-psychology,
  &__consultations,
  &__depression,
  &__social-anxiety,
  &__stress-management,
  &__support-group,
  &__couple-therapy,
  &__individual-coaching{
    grid-column: 2/4;
  }

  & .heading--small,
  & .heading--medium{

    @media (min-width: 48em){ /* 768px = 48em */
      grid-column: 2/7;
    }

  }

  /* heading text content -- "Service that matters"  */
  & .heading--small{

    @media (min-width: 1268px){ /* 992px = 62em */
      grid-column: 2/4;
      grid-row: 1/2;
      z-index: 2;
    }

  }

  /* heading text content -- "Your passion is my satisfaction"  */
  & .heading--medium{
    font-size: responsive(35px, 100px);

    @media (min-width: 1268px){ /* 992px = 62em */
      grid-column: 5/11;
      grid-row: 1/2;
      margin: 0;
      line-height: 1;
      z-index: 2;
    }

  }


  /* refers tp the different service types */
  &__type{
    max-width: 370px;
    margin-right: 30px;

    @media (min-width: 62em){ /* 62em = 992px */
      margin-right: 0;
    }

    @media (min-width: 91.625em){ /* 91.625em = 1466px */
      margin-right: 40px;
    }

    /* service logo */
    & img{
      margin: 15px 0 20px;

      @media (min-width: 62em){ /* 62em = 992px */
        margin-top: 77px;
      }

      @media (min-width: 106.25em){ /* 106.25em = 1700px */
        margin-top: 120px;
      }

    }

    /* service description */
    & .text-content--grey{
      margin-bottom: 40px;

      @media (min-width: 62em){ /* 62em = 992px */
        margin-bottom: 0px;
      }

    }

  }


  /* name of service */
  &__name{
    color: #fff;
    font-family: 'Gilroy-Medium ☞';
    font-size: responsive(21px, 30px);
    line-height: 1.2;
    margin-bottom: 30px;
  }


  /* Family Psychology */
  &__family-psychology{

    @media (min-width: 38.625em){ /* 38.625em = 618px */
      grid-column: 2/3;
      grid-row: 3/4;
    }

    @media (min-width: 48em){ /* 768px = 48em */
      grid-column: 2/4;
    }

    @media (min-width: 62em){ /* 62em = 992px */
     grid-column: 2/5;
    }

    @media (min-width: 91.625em){ /* 91.625em = 1466px */
      grid-column: 2/4;
    }

  }


  /* Consultations */
  &__consultations{

    @media (min-width: 38.625em){ /* 38.625em = 618px */
      grid-column: 3/4;
      grid-row: 3/4;
    }

    @media (min-width: 48em){ /* 768px = 48em */
      grid-column: 4/6;
    }

    @media (min-width: 62em){ /* 62em = 992px */
     grid-column: 6/9;
    }

    @media (min-width: 91.625em){ /* 91.625em = 1466px */
      grid-column: 4/6;
    }

  } 


  /* Depression */
  &__depression{

    @media (min-width: 38.625em){ /* 38.625em = 618px */
      grid-column: 2/3;
      grid-row: 4/5;
    }

    @media (min-width: 48em){ /* 768px = 48em */
      grid-column: 2/4;
    }

    @media (min-width: 62em){ /* 62em = 992px */
      grid-column: 2/5;
    }

    @media (min-width: 91.625em){ /* 91.625em = 1466px */
      grid-column: 6/8;
      grid-row: 3/4;
    }

  }


  /* Social Anxiety */
  &__social-anxiety{

    @media (min-width: 38.625em){ /* 38.625em = 618px */
      grid-column: 3/4;
      grid-row: 4/5;
    }

    @media (min-width: 48em){ /* 768px = 48em */
      grid-column: 4/6;
    }

    @media (min-width: 62em){ /* 62em = 992px */
      grid-column: 6/9;
    }

    @media (min-width: 91.625em){ /* 91.625em = 1466px */
      grid-column: 8/10;
      grid-row: 3/4;
    }

  }



  /* Stress Management */
  &__stress-management{

    @media (min-width: 38.625em){ /* 38.625em = 618px */
      grid-column: 2/3;
      grid-row: 5/6;
    }

    @media (min-width: 48em){ /* 768px = 48em */
      grid-column: 2/4;
    }

    @media (min-width: 62em){ /* 62em = 992px */
      grid-column: 2/5;
    }

    @media (min-width: 91.625em){ /* 91.625em = 1466px */
      grid-column: 2/4;
    }

  }


  /* Support Group */
  &__support-group{
    
    @media (min-width: 38.625em){ /* 38.625em = 618px */
      grid-column: 3/4;
      grid-row: 5/6;
    }

    @media (min-width: 48em){ /* 768px = 48em */
      grid-column: 4/6;
    }

    @media (min-width: 62em){ /* 62em = 992px */
      grid-column: 6/9;
    }

    @media (min-width: 91.625em){ /* 91.625em = 1466px */
      grid-column: 4/6;
    }

  }
  

  /* Couple Therapy */
  &__couple-therapy{

    @media (min-width: 38.625em){ /* 38.625em = 618px */
      grid-column: 2/3;
      grid-row: 6/7;
    }

    @media (min-width: 48em){ /* 768px = 48em */
      grid-column: 2/4;
    }

    @media (min-width: 62em){ /* 62em = 992px */
      grid-column: 2/5;
    }

    @media (min-width: 91.625em){ /* 91.625em = 1466px */
      grid-column: 6/8;
      grid-row: 5/6;
    }

  }

    
  /* Individual Coaching */
  &__individual-coaching{
    
    @media (min-width: 38.625em){ /* 38.625em = 618px */
      grid-column: 3/4;
      grid-row: 6/7;
    }

    @media (min-width: 48em){ /* 768px = 48em */
      grid-column: 4/6;
    }

    @media (min-width: 62em){ /* 62em = 992px */
      grid-column: 6/9;
    }

    @media (min-width: 91.625em){ /* 91.625em = 1466px */
      grid-column: 8/10;
      grid-row: 5/6;
    }

  }
  

}